In [1]:
# Run this code inside a virtual environment (python 3.10 for myself) and import all things inside the virtual environment using cmd***
# open cmd as administrator where the virtual env is (D:\MACHINE LEARNING\LLM\Codes\python 3.10 virtual)
# myenv\Scripts\activate

In [2]:
import warnings
warnings.filterwarnings('ignore')
# !pip install datasets
# !pip install sentence_transformers
# !pip install tensorflow
# !pip install keras
# !pip install tf-keras
# !pip install timm==1.0.15
# !pip install torch==1.12.0

In [3]:
# !pip show datasets

In [4]:
# !pip show sentence_transformers

In [5]:
import sys
print(sys.executable)

D:\MACHINE LEARNING\Virtual_Env\python 3.10 virtual\3.10env\Scripts\python.exe

In [6]:
import sys
print(sys.version)

3.10.0 (tags/v3.10.0:b494f59, Oct  4 2021, 19:00:18) [MSC v.1929 64 bit (AMD64)]

In [7]:
import sentence_transformers as st
print(st.__version__)

WARNING:tensorflow:From D:\MACHINE LEARNING\Virtual_Env\python 3.10 virtual\3.10env\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

4.0.1

In [8]:
from datasets import load_dataset
import pandas as pd
import torch
from sentence_transformers import SentenceTransformer, util

In [9]:
dataset = load_dataset("multi_news", split="test", trust_remote_code=True)
df = dataset.to_pandas().sample(2000, random_state=42)

In [10]:
df.head()

,document,summary
4830,Tweet with a location \n \n You can add locati...,– Denis Finley has taken to Twitter to call Po...
1255,CNN host Piers Morgan just called to discuss h...,– CNN's Piers Morgan thinks gun-rights propone...
80,White House communications director Anthony Sc...,– New White House communications director Anth...
3044,CLOSE Scientists say they've found archaeologi...,– Scientists say they have the first physical ...
4486,Click image above to view graphic \n \n Althou...,– Scientists are calling it a breakthrough and...

In [11]:
df.iloc[0]

document    Tweet with a location \n \n You can add locati...
summary     – Denis Finley has taken to Twitter to call Po...
Name: 4830, dtype: object

In [12]:
model = SentenceTransformer("all-MiniLM-L6-v2")

In [13]:
df["embedding"] = list(model.encode(df["summary"].to_list(), show_progress_bar=True))

Batches:   0%|          | 0/63 [00:00<?, ?it/s]

In [14]:
df.head()

,document,summary,embedding
4830,Tweet with a location \n \n You can add locati...,– Denis Finley has taken to Twitter to call Po...,"[-0.05381892, 0.012980464, 0.037304673, -0.023..."
1255,CNN host Piers Morgan just called to discuss h...,– CNN's Piers Morgan thinks gun-rights propone...,"[0.011422995, 0.0039215954, -0.0013293847, -0...."
80,White House communications director Anthony Sc...,– New White House communications director Anth...,"[-0.003979931, -0.044023212, 0.013985306, 0.07..."
3044,CLOSE Scientists say they've found archaeologi...,– Scientists say they have the first physical ...,"[-0.061286863, 0.068048224, 0.007919072, 0.029..."
4486,Click image above to view graphic \n \n Althou...,– Scientists are calling it a breakthrough and...,"[-0.044350315, -0.03243989, -0.009361054, 0.09..."

In [15]:
passage_embeddings = df["embedding"].to_list()

In [16]:
print(len(passage_embeddings))
print(passage_embeddings[0].shape) # vector size of each embedding
print(df.shape)

2000
(384,)
(2000, 3)

In [17]:
def find_relevant_news(query):
    # query = "Find some articles about technology and artificial intelligence."
    # query = "Find some articles about technology and AI."
    query_embedding = model.encode(query)
    similarities = util.cos_sim(query_embedding, passage_embeddings)
    top_matches = torch.topk(similarities.flatten(), 3)
    print(top_matches)
    
    top_relevant_passages = [df.iloc[x.item()]["summary"][:160] + "..." for x in top_matches.indices]
    return top_relevant_passages

In [18]:
def interactive_search():
    print("Welcome to Nobobi's Semantic News Search!\n")
    while True:
        print("Type in a topic you'd like to find articles about, and I'll do the searching! (Type 'exit' to quit)\n> ", end="")

        query = input().strip()

        if query.lower() == "exit":
            print("\nThanks for using the Semantic News Search! Have a great day!")
            break

        print("\n\tHere are top 3 articles I found based on your query: \n")

        passages = find_relevant_news(query)
        for passage in passages:
            print("\n\t" + passage)

        input("\nPress Enter to continue searching...")
        # clear_screen()

In [19]:
# Start the interactive search
interactive_search()

Welcome to Nobobi's Semantic News Search!

Type in a topic you'd like to find articles about, and I'll do the searching! (Type 'exit' to quit)
>

 AI

	Here are top 3 articles I found based on your query:

torch.return_types.topk(
values=tensor([0.3132, 0.2817, 0.2318]),
indices=tensor([ 616, 1612,   41]))

	– Ford has made another big bet on the future of self-driving cars, investing $1 billion in previously unknown startup Argo AI. "The next decade will be defined...

	– The "tech surge" to fix HealthCare.gov includes some names from the industry's biggest players. Among them, per a Health department blog post, is Michael Dick...

	– Swatting a fruit fly is as tricky as trying to catch a tiny fighter jet with an expert pilot at the controls, researchers say. High-speed cameras captured the...

Press Enter to continue searching...

Type in a topic you'd like to find articles about, and I'll do the searching! (Type 'exit' to quit)
>

 Bus

	Here are top 3 articles I found based on your query:

torch.return_types.topk(
values=tensor([0.5088, 0.4200, 0.2940]),
indices=tensor([1671, 1368, 1945]))

	– A rush-hour collision between a Chicago Transit Authority bus and several other vehicles yesterday left one person dead and at least eight others injured, one...

	– A school bus carrying about 30 sixth-grade girls overturned in Kansas today when its driver took an on-ramp too quickly, police in Bonner Springs tell KCTV. E...

	– Riders of Philadelphia's No. 44 bus have been complaining a lot lately of lost cell phone calls, and NBC 10 found out why: A man, whom they identify only as "...

Press Enter to continue searching...

Type in a topic you'd like to find articles about, and I'll do the searching! (Type 'exit' to quit)
>

 exit

Thanks for using the Semantic News Search! Have a great day!